button {
    display: inline-block;
    border: none;
    height: 20px;
    margin-top: 3px;
    width: 100%;
}
button:hover {
    box-shadow: -1px 1px 3px black;
}
input{
    border: none;
}
input[type="number"]{
    width: 40px;
}
input:hover {
    box-shadow: -1px 1px 3px black;
}
#graph {
    width: 300px;
    height: 200px;
    margin: 0px;
    resize:both;
    overflow:auto;
}
.bound {
    width: 40px;
}