#keypad {
    width: 200px;
    height: 105px;
    margin: 5px;
}
button {
    display: inline-block;
    border: none;
    height: 20px;
    margin-top: 3px;
    background-color: beige;
}
button:hover {
    box-shadow: -1px 1px 3px black;
}
#addEq {
    width: 100%;
}
input{
    border: none;
    background-color: beige;
}
input:hover {
    box-shadow: -1px 1px 3px black;
}
#graph {
    width: 200px;
    height: 200px;
    margin: 0px;
}
.bound {
    width: 40px;
}
