body{
    background-color: #9AFEFF;
}
button {
    display: inline-block;
    border: none;
    height: 20px;
    margin-top: 3px;
    background-color: #00FFFF;
    width: 100%;
}
button:hover {
    box-shadow: -1px 1px 3px teal;
}
input{
    border: none;
    background-color: #00FFFF;
}
input[type="number"]{
    width: 40px;
}
input:hover {
    box-shadow: -1px 1px 3px teal;
}
#graph {
    width: 200px;
    height: 200px;
    margin: 0px;
}
.bound {
    width: 40px;
}
#graphInputs{
    line-height: 200%;
}
